<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <module assemblyFile="Modules/MainContent.dll" moduleType="MainContent.MainContentModule, MainContent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MainContentModule" startupLoaded="true"/>
    <module assemblyFile="Modules/StatusBar.dll" moduleType="StatusBar.StatusBarModule, StatusBar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StatusBarModule" startupLoaded="true"/>
    <module assemblyFile="Modules/DetailedUserData.dll" moduleType="DetailedUserData.DetailedUserDataModule, DetailedUserData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DetailedUserDataModule" startupLoaded="true"/>
    <module assemblyFile="Modules/SpecialTabs.dll" moduleType="SpecialTabs.SpecialTabsModule, SpecialTabs, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SpecialTabsModule" startupLoaded="true"/>
  </modules>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>